.writediv{
    margin: 15px 0px 15px 0px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
}


.main{
    width: 320px;
    padding-bottom: 20px;

}

.container {
    padding-left: 10px;
    padding-right: 10px;
/*    background-color: rgba(161, 214, 226, 0.30);*/
    background-color: rgba(241, 241, 242, 0.45);
  
}

.check-box {
    width: 20px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    margin-top: 10px;
    background-color: #1995AD;
    background-image: url("az-subtle.png");
    border-color: #8064A2;
}


#topbar {
    background-image: url("az-subtle.png");
    /*background-color: rgba(161, 214, 226, 0.40);*/
    border-bottom-style: solid;
    border-bottom-color: #1995AD;
    border-bottom-width: 1px;
}

.nav-pills>li>a, .nav-pills>li>a:focus, .nav-pills>li>a:hover, .nav-pills>li>a:active
 {
    background-color: transparent;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: rgb(15,89,108);
    background-color: transparent;
    font-weight: 500;
}

.navbar-brand {
    float: left;
    height: 40px;
    padding: 5px 5px;
    margin-right: 10px;
/*    font-size: 18px;
    line-height: 20px;*/
}

.nav-pills li>a {
/*    margin-top: 5px;
    margin-bottom: 5px;*/
    font-size: 1em;
    font-weight: 200;
    color: rgb(15,89,108);
}

/*.nav>li>a {
    border-bottom: 1px solid black;
}*/

.lilogout {
    font-size: .8em;
    font-weight: 100;
    margin-right: -10px;
    margin-top: 2px;
}

/*

.nav-pills>li>a {
    border-radius: 0px;
    padding: 2px;

}

.nav-pills>li>a.active {
    border-bottom-style: solid;
    border-bottom-color: #1995AD;
}*/

hr {
    margin-top: 3px;
    margin-bottom: 3px;
    border: 0;
    border-top: .5px solid;
    border-color: rgba(15,89,108,.4);
}

.navbar-fixed-bottom {
    bottom: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #F1F1F2;
}

.userimage {
    width: 60px;
    height: 60px;
}

.articleimage {
    width:100%;
}

.input-group {
    margin-top: 10px;
    margin-bottom: 10px;
}

.alert, .alert-info {
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;

}

.badge {
    margin-top: -3px;
    background-color: rgba(217,83,79,.9);
}

.list-group-item.active>.badge, .nav-pills>.active>a>.badge {
    color: rgba(15,89,108);
}

/*
.rightstatus{
    margin-left: -24px;
}*/

.rightstatus > span {
    color: red;
}

.read a {
    color: #BCBABE;
}

.read label {
    color: #BCBABE;
}

.showresult .row {
    padding-top: 5px;
    padding-bottom: 5px;
}

.lilogout {
    float: right !important;
    cursor: pointer; 
}

.articleimage {
    width: 48px;
    padding-left: 0px;
    margin-top: 0px;
}

.read .articleimage {
    opacity: 0.3;
}

.userimage {
    height: 40px;
    width: 40px;
}

.rightstatus {
    padding-left: 0px;
}

.col-xs-9 label {
    font-weight: 200;
    font-size: .9em;
    margin-bottom: 0px;
}

.col-xs-9 p {
    margin-bottom: 0px;
    font-size: .9em;
}

p {
    margin-bottom: 5px;
    font-size: .9em;
}

input[type=checkbox], input[type=radio] {
    font-size: 50px;
    margin-top: 13px;
}

.friendsresult .row:hover {
    background-color: rgba(161, 214, 226, 0.25);
}

.friendsresult .row:active {
    background-color: rgba(161, 214, 226, 0.25);
}

.friendsresult .row {
    padding-top: 5px;
    padding-bottom: 5px;
}

.friendsresult label {
    font-weight: 200;
    color: rgb(15,89,108);
}

.col-xs-7 label {
    padding-top: .8em;

}

.col-xs-7 {
    padding-left: 0px;
    margin-left: -10px;
}

/*
overcast: #F1F1F2
warm gray: #BCBABE
ice: #A1D6E2
glacier blue: #1995AD

*/

.readmain{
    margin-top: 10px;
}

.bottomspace{
    height: 36px;
}

.friendsresult{
    height: 400px;
    overflow: scroll;
}

