.writediv{
    margin: 15px 0px 15px 0px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 4px;
}


.main{
    width: 360px;
    padding-bottom: 20px;
    background-color: #F1F1F2;
}

.container {
    padding-left: 10px;
    padding-right: 10px;
}

.check-box {
    width: 20px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    margin-top: 10px;
    background-color: #1995AD;
    border-color: #8064A2;
}


.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover
 {
    background-color: #1995AD;
}

hr {
    margin-top: 3px;
    margin-bottom: 3px;
    border: 0;
    border-top: .5px solid #BCBABE;
}

.navbar-fixed-bottom {
    bottom: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #F1F1F2;
}

.userimage {
    width: 60px;
    height: 60px;
}

.articleimage {
    width:100%;
}

.input-group {
    margin-top: 10px;
}

.nav-pills {
    margin-top: 10px;
}


/*
.rightstatus{
    margin-left: -24px;
}*/

.rightstatus > span {
    color: red;
}

.read a {
    color: #BCBABE;
}

.read label {
    color: #BCBABE;
}

.lilogout {
    float: right !important;
}


.articleimage {
    width: 48px;
    padding-left: 0px;
}

.rightstatus {
    padding-left: 0px;
}

label {
    font-weight: 200;
    margin-bottom: 0px;
}

p {
    margin-bottom: 5px;
}

input[type=checkbox], input[type=radio] {
    font-size: 50px;
    margin-top: 25px;
}

.friendsresult .row:hover {
    background-color: #A1D6E2;
}

.friendsresult .row:active {
    background-color: #A1D6E2;
}

.friendsresult .row {
    padding-top: 5px;
    padding-bottom: 5px;
}

.col-xs-7 label {
    padding-top: 1.5em;
}


/*
overcast: #F1F1F2
warm gray: #BCBABE
ice: #A1D6E2
glacier blue: #1995AD

*/

.readmain{
    margin-top: 20px;
}

